<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette Gen</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="app.css">
</head>
<body>
    
    <!-- User input -->
    <form id="form">
        <input type="text" name="query">
        <button class="btn">Generate Colors</button>
    </form>

    <!-- container to store the color values on the page -->
    <div class="container"></div>  
    <!-- Custom Javascripts -->
    <script src="app.js"></script>
</body>
</html>